.Synonyms ul {
  margin: 20px 0 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 12px;
  opacity: 0.8;
  line-height: 1;
}


@media (max-width:900px) {
    .Synonyms li {
       text-align: center;
       font-size: 11px;
   
    }
  }